* {
  direction: rtl;
  font-family: "Droid Arabic Kufi", "Droid Sans", sans-serif;
  font-size: 20px;
  background-color: #3d3d3d;
  color: #f8f8f8;
}

.App {
  border: 10px solid #f8f8f8;
  border-radius: 20px;
  margin: 50px 300px;
  padding: 50px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.to-do-container {
  display: flex;
  flex-direction: column;
}

.to-do-container ul li {
  width: 700px;
  overflow-wrap: break-word;
  list-style-type: none;
}

.done {text-decoration: line-through;}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.trash {cursor: pointer;}

button {
  height: 30px;
  width: 170px;
  margin: 10px auto;
  border-radius: 10px;
}

button:hover {background-color: #5a5a5a;}

input[type="checkbox"] {
  accent-color: #f8f8f8;
  width: 20px;
  height: 20px;
  cursor: pointer;
}